{
  "fps": 30,
  "devices": {
    "desk": {
      "type": "wled",
      "ip": "192.168.178.10",
      "leds": 64,
      "flip": true
    },
    "table": {
      "enabled": false,
      "type": "wled",
      "ip": "192.168.178.20",
      "port": 9000,
      "leds": 32,
      "flip": false
    },
    "arduino-thingy": {
      "type": "serial",
      "leds": 24,
      "path": "/dev/ttyACM0",
      "color_temperature": 5600
    },
    "ps4": {
      "type": "dualshock",
      "device_num": 1
    }
  }
}
