{
  "fxmode": "pulseviz",
  "fps": 60,
  "benchmark": false,
  "preset": "medium",
  "source_name": "alsa_output.pci-0000_00_1b.0.analog-stereo.monitor",
  "devices": {
    "desk": {
      "type": "wled",
      "ip": "192.168.178.10",
      "leds": 64,
      "flip": true,
      "cutout": "left"
    },
    "table": {
      "enabled": false,
      "type": "wled",
      "ip": "192.168.178.20",
      "port": 9000,
      "leds": 32,
      "flip": false,
      "cutout": "bottom"
    },
    "keyboard": {
      "enabled": false,
      "type": "razer",
      "flip": false,
      "cutout": "bottom"
    },
    "ps4": {
      "type": "ds4",
      "device_num": 1,
      "cutout": "center"
    }
  }
}
